@import url('https://fonts.googleapis.com/css2?family=Inter&family=Josefin+Sans&display=swap');

:root{

    --White: hsl(0, 0%, 100%);
    --Grey: hsl(0, 0%, 20%);
    --Dark-Grey: hsl(0, 0%, 12%);
    --Off-Black: hsl(0, 0%, 8%);
    --Green: hsl(75, 94%, 57%);
    --Main-Background-color:#141414;
    --Light-background-color:#1f1f1f;

}

