@import url('https://fonts.googleapis.com/css2?family=Inter&family=Josefin+Sans&display=swap');

:root{

    --White: hsl(0, 0%, 100%);
    --Grey: hsl(0, 0%, 20%);
    --Dark-Grey: hsl(0, 0%, 12%);
    --Off-Black: hsl(0, 0%, 8%);
    --Green: hsl(75, 94%, 57%);
    --Main-Background-color:#141414;
    --Light-background-color:#1f1f1f;

}

*{
    font-family:'Inter';
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
    background-color: var(--Main-Background-color);

    .body-wrapper{
        max-width:90rem;
        min-width:23.475rem ;
        background-color:var(--Light-background-color);
        color:white;
        margin:2% auto;

        .logo-search-wrapper{
            width:100%;
            padding:2rem;
            border:2px solid rgb(34, 33, 33);
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap:wrap;
            

            .logo{
                // border:2px solid red;
                flex:1;
                
                span{
                    font-weight:700;
                    font-size:2.25rem;
                }

            }
            .dropdown-user-list{
                // border: 2px solid red;
                flex:1;
                display: flex;
                align-items: center;
                justify-content: flex-end;
               select{
                    width:15rem;
                    padding:0.5rem;

                    option{
                        font-size:1rem;
                    }
                    
               }
               
            }
        }
    }



    
}

